// ==========================================================================
// Global Variables
// ==========================================================================

// Font Stacks

$font-family--primary			: "Source Sans Pro", sans-serif;
$font-family--secondary			: "Source Serif Pro", serif;

// Base Colors

$white							: #fff;
$black							: #333;
$light-grey						: #f8f8f8;

// Color Usage

$primary-color					: #ff432f;	// Orange
$primary-hover 					: #ff5947;	// Orange hover
$primary-outline-hover			: #fff1ef;	// Very light orange
$secondary-color				: #126ad9;	// Blue
$secondary-hover				: #1378f2; 	// Blue hover
$secondary-outline-hover		: #f6faff;	// Very light blue hover
$dark-color						: #374654;	// Charcol blue

// Border Radius

$border-radius					: 3px;